<div class="container">
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-primary float-right new-product" [routerLink]="['/products/new']">
        Create new product
      </a>
      <h1 class="title">List products</h1>
    </div>
  </div>
  <app-preloader [show]="loading"></app-preloader>
  <div class="row" *ngIf="!loading">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table products-table">
          <tr>
            <th class="text-center">Image</th>
            <th class="text-nowrap text-center">Name</th>
            <th class="text-center">Price</th>
            <th>Description</th>
            <th class="text-center">Color</th>
            <th class="text-center">Year</th>
            <th class="text-center">updatedAt</th>
            <th class="text-center">Actions</th>
          </tr>
          <tr
            class="product-row"
            *ngFor="let product of products"
          >
            <td class="text-center">
              <img
                [src]="product.image ? API_URL+'/images/products/'+product.image : ASSETS_URL+'/images/no-image.jpg'"
                alt="phone"
                class="image"
              >
            </td>
            <td class="text-nowrap text-center">{{ product.name }}</td>
            <td class="text-center">{{ product.price }}</td>
            <td>{{ product.description }}</td>
            <td class="text-center">{{ product.color }}</td>
            <td class="text-center">{{ product.year }}</td>
            <td class="text-center">{{ product.updatedAt | date }}</td>
            <td class="text-center">
              <div>
                <a class="btn btn-success m__no-mt" [routerLink]="['/products', product.id]">
                  <i class="fa fa-desktop"></i>
                  Edit
                </a>
              </div>
              <div>
                <button
                  class="btn btn-danger delete"
                  appConfirm
                  (confirm-click)="removeItem(product)"
                >
                  <i class="fa fa-remove"></i>
                  Delete
                </button>
              </div>
            </td>
          </tr>
          <tr class="product-row" *ngIf="products && !products.length">
            <td colspan="8">Products no found</td>
          </tr>
        </table>
        <ul class="pagination" *ngIf="!loading">
          <li class="page-item" [ngClass]="{'disabled':pagination.getCurrentPage() === 1}">
            <button
              class="page-link"
              [disabled]="pagination.getCurrentPage() === 1"
              (click)="changePage(pagination.getCurrentPage()-1)"
            >
              Previous
            </button>
          </li>
          <li
            class="page-item"
            *ngFor="let index of pagination.getPagesRange()"
            [ngClass]="{'active':index+1 === pagination.getCurrentPage()}"
          >
            <button class="page-link" (click)="changePage(index+1)">{{ index + 1 }}</button>
          </li>
          <li
            class="page-item"
            [ngClass]="{'disabled':pagination.getCurrentPage() === pagination.getCountPages()}"
          >
            <button
              class="page-link"
              [disabled]="pagination.getCurrentPage() === pagination.getCountPages()"
              (click)="changePage(pagination.getCurrentPage()+1)"
            >
              Next
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
