.blank-logo {
  position: absolute;
  z-index: 0;
  left: 15px;
  top: 10px;
}

.header {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;

  &::after {
    content: "";
    display: table;
    clear: both;
  }

  .logout {
    float: right;
    margin: 22px 67px 0 0;
  }
}
