/******************************
Flexbox Layout
*******************************/

.header,
.navi {
  display: flex;
}

.header {
  justify-content: space-between;
}

.navi {
  flex: 1;
  justify-content: flex-end;
}

.main-content {
  min-height: 300px;
}

.footer {
  justify-content: center;
}

/******************************
Top Nav General Styling
*******************************/
.header {
  padding: 10px 10px 0 7px;
  margin: 0 auto 20px;
  background-color: #fff;
  border-bottom: 1px solid #81b9ba;
}

.logo-icon {
  height: 50px;
  width: auto;
  margin: 9px;
}

h1 {
  margin: 0 0 15px;
}

.logo {
  line-height: 65px;
}

.navi {
  list-style: none;
}

.navi {
  padding-top: 25px;
}

.navi li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 12px;
  text-transform: uppercase;
  margin-right: 10px;
}

.navi li a:hover {
  color: #000;
}

.navi > li > a:focus, .nav > li > a:hover {
  background-color: transparent;
}

.navi li:last-child a {
  background: #eee;
  border-radius: 2px;
  transition: 200ms ease-in-out;
  padding: 8px 16px 7px;
}

.navi li:last-child a:hover {
  background: rgba(200, 200, 200, .5);
  color: #000;
}

@media all and (min-width: 1030px) {
  .header {
    min-width: 768px;
  }
}

.product-row .btn {
  margin: 5px 0;
  width: 120px;
}

.product__image {
  text-align: center;
}

.product__image img {
  display: inline-block;
  vertical-align: top;
}

.image {
  max-width: 300px;
  max-height: 300px;
}

.product_content {
  font-size: 16px;
}

.new-product {
  margin-bottom: 20px;
}

.main-content {
  padding-bottom: 20px;
}

.products-table {
  font-size: 16px;
}

.offset-top-10 {
  margin-top: 10px;
}

.image + .wrap-file .control-label {
  opacity: 0;
}

.image + .wrap-file input[type="file"] {
  opacity: 0;
}

.image + .wrap-file label {
  display: none;
}

.image + .wrap-file input {
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.wrapper-image-block {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 0;
}
